.box {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__pink {
  background-color: $colorBox-6;
}

.box__purple {
  background-color: $colorBox-7;
}

.box__aqua {
  background-color:$colorBox-8;
}

.box__blue {
  background-color: $colorBox-9;
}

.box__red {
  background-color: $colorBox-10;
}

.box__green {
  background-color: $colorBox-11;
}
