.header__button {
  text-align: right;
  display: flex;
  gap: 20px;
}

.header__button-1 {
  width: 153px;
  height: 61px;
  border-radius: 7px;
  border: none;
  background-color: $colorButton-1;
  color: $colorTextButton;
  font-size: 20px;
  font-family: $fontManrope;
  cursor: pointer;
}

.header__button-1:hover {
  background-color: $colorButton-2;
}

.header__button-2 {
  width: 126px;
  height: 61px;
  border-radius: 7px;
  border: none;
  background-color: $colorButton-2;
  color: $colorTextButton;
}

.header__button-2:hover {
  background-color: $colorButton-1;
}
