.page-section__bg {
  position: absolute;
  top: 930px;
  z-index: -1;
  width: 40%;
  height: 815px;
  background-size: cover;
  background-position: 50% 50%;
  background-color: $colorSquare;
  @media (max-width: 1200px) {
    width: 40%;
    height: 520px;
    top: 795px;
  }
  @media (max-width: 992px) {
    height: 440px;
    top: 835px;
  }
  @media (max-width: 768px) {
    width: 80%;
    height: 600px;
    top: 1066px;
  }

  @media (max-width: 588px) {
    height: 440px;
    top: 1285px;
  }
}

.page-section__bg--left {
  left: 0;
  border-radius: 0 30px 30px 0;
}

.content {
  padding-top: 190px;
  padding-bottom: 200px;
  @media (max-width: 1200px) {
    padding-top: 150px;
    padding-bottom: 0px;
  }
  @media (max-width: 1200px) {
    padding-top: 100px;
  }
}

.content__text {
  padding-top: 30px;
  color: #7e7fa0;
  font-family: $fontManrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: 1.5px;
  width: 100%;
  flex-shrink: 0;
  @media (max-width: 1200px) {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0px;
  }
  @media (max-width: 992px) {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}

.content__name {
  position: relative;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.72px;
  color: #2d2a3e;
  font-family: $fontManrope;
  padding-left: 37px;
  padding-top: 20px;
  padding-bottom: 77px;

  @media (max-width: 1200px) {
    padding-bottom: 20px;
    padding-top: 25px;
  }

  @media (max-width: 992px) {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.content__name::before {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  top: 32px;
  left: 8px;
  background-color: #7e7fa0;

  @media (max-width: 1200px) {
    top: 36px;
    left: 8px;
  }

  @media (max-width: 992px) {
    top: 20px;
    left: 8px;
  }
}

.content__right {
  padding-top: 69px;
  @media (max-width: 1200px) {
    padding-top: 0;
  }
  @media (max-width: 992px) {
    padding-top: 20px;
  }
  @media (max-width: 768px) {
    padding-top: 133px;
  }
}

.content__box {
  width: 122px;
  height: 122px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $colorBox-5;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    width: 90px;
    height: 90px;
    svg {
      width: 60px;
      height: 60px;
    }
  }

  @media (max-width: 992px) {
    width: 80px;
    height: 80px;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.content__left img {
  border-radius: 16px;
  padding-right: 20px;
}
