.content__body {
  padding-top: 200px;
}

.page-section__bg {
  position: absolute;
  top: 850px;
  z-index: -1;
  width: 790px;
  height: 815px;
  background-size: cover;
  background-position: 50% 50%;
  background-color: $colorSquare;
}

.page-section__bg--left {
  left: 0;
  border-radius: 0 30px 30px 0;
}

.content__text {
  padding-top: 30px;
  color: #7e7fa0;
  font-family: $fontManrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: 1.5px;
  width: 750px;
  height: 149px;
  flex-shrink: 0;
}

.content__text__name {
  position: relative;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.72px;
  color: #2d2a3e;
  font-family: $fontManrope;
  padding-left: 37px;
  padding-top: 20px;
  padding-bottom: 77px;
}

.content__text__name::before {
  content: "__";
  position: absolute;
  top: 12px;
  left: 1px;
  color: #7e7fa0;
}

.content__right {
  padding-top: 120px;
}

.content__right__box {
  width: 122px;
  height: 122px;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  background-color: $colorBox-5;
}

.content__right__svg {
  position: relative;
  top: 21px;
  left: 20px;
}

.content__image img {
  border-radius: 16px;
}

.content__title {
  padding-top: 119px;
  text-align: center;
  padding-bottom: 28px;
}

.content__title__top {
  font-size: 38px;
  font-family: $fontManrope;
}

.content__outstanding {
  color: $colorText-2;
}

.content__title__botton {
  padding-top: 44px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: $fontManrope;
  color: #7e7fa0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.45;
}
