.feature {
  background-color: $bgColor;
  border-radius: 48px;
  padding-top: 40px;
  padding-bottom: 120px;
  color: #7e7fa0;
  font-family: $fontManrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 65;
  letter-spacing: 0.5px;
}

.feature__item {
  border: 1px solid white;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  cursor: pointer;
  min-height: 100%;
}

.feature__title {
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.92px;
  font-family: $fontManrope;
  text-align: center;
  padding-bottom: 28px;
}

.feature__center {
  color: #2d2a3e;
  padding-top: 42px;
  font-size: 23px;
  font-weight: 800;
  line-height: 1.04;
  letter-spacing: 0.92px;
  padding-bottom: 16px;
}

.feature__svg {
  transition: transform 1.2s;
}

.feature__svg:hover {
  transform: rotate(360deg);
}
