.feature {
  background-color: $bgColor;
  border-radius: 48px;
  padding-top: 40px;
  padding-bottom: 120px;
  color: #7e7fa0;
  font-family: $fontManrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 65;
  letter-spacing: 0.5px;
}

.feature__item {
  border: 1px solid white;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  cursor: pointer;
  min-height: 100%;
}

.feature__center {
  color: #2d2a3e;
  padding-top: 42px;
  font-size: 23px;
  font-weight: 800;
  line-height: 1.04;
  letter-spacing: 0.92px;
  padding-bottom: 16px;

  @media (max-width: 1200px) {
    font-size: 21px;
  }

  @media (max-width: 992px) {
    font-size: 19px;
  }
}

.feature__text {
  @media (max-width: 1200px) {
    font-size: 19px;
  }

  @media (max-width: 992px) {
    font-size: 16.5px;
  }
}

.feature__svg {
  transition: transform 1.2s;
}

.feature__svg:hover {
  transform: rotate(360deg);
}

.feature__box {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    width: 80px;
    height: 80px;
  }
}

.feature__box--pink {
  background-color: $colorBox-6;
}

.feature__box--purple {
  background-color: $colorBox-7;
}

.feature__box--aqua {
  background-color: $colorBox-8;
}

.feature__box--blue {
  background-color: $colorBox-9;
}

.feature__box--red {
  background-color: $colorBox-10;
}

.feature__box--green {
  background-color: $colorBox-11;
}
