.general {
  padding-left: 45px;
}

.general__title {
  position: relative;
  color: #2d2b36;
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.3px;
}

.general__title::before {
  content: "";
  width: 105px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -60px;
}

.general__title--pink::before {
  background: $colorBox-1;
}

.general__title--green::before {
  background: $colorBox-2;
}

.general__title--purple::before {
  background: $colorBox-3;
}

.general__title--blue::before {
  background: $colorBox-4;
}

.general__text {
  font-family: $fontManrope;
  color: #7e7fa0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.74px;
  padding-top: 40px;
  min-height: 100%;
}
