.general {
  padding: 168px 116px 0px 168px;
}

.general__text {
  font-family: $fontManrope;
  color: #7e7fa0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.74px;
  padding-top: 40px;
  min-height: 100%;
}

.general__title__pink {
  position: relative;
  color: #2d2b36;
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.3px;
}

.general__title__pink::before {
  content: "";
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: $colorBox-1;
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -60px;
}

.general__title__green {
  position: relative;
  color: #2d2b36;
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.3px;
}

.general__title__green::before {
  content: "";
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: $colorBox-2;
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -60px;
}

.general__title__purple {
  position: relative;
  color: #2d2b36;
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.3px;
}

.general__title__purple::before {
  content: "";
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: $colorBox-3;
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -60px;
}

.general__title__blue {
  position: relative;
  color: #2d2b36;
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.3px;
}

.general__title__blue::before {
  content: "";
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: $colorBox-4;
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -60px;
}
