.general {
  padding: 30px 148px 0px 158px;
}

.general__title {
  font-size: 26px;
  font-family: $fontManrope;
}

.general__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  font-family: $fontManrope;
}
