.title {
  padding-top: 100px;
  text-align: center;
}

.title__title {
  font-size: 38px;
  padding-bottom: 34px;
  font-family: $fontManrope;
}

.content__outstanding {
  background: none;
  color: $colorText-2;
}

.title__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 1.5px;
  letter-spacing: 1.5px;
  font-family: $fontManrope;
}
