$colorButton-1: #616AE8;
$colorButton-2: #22E4A7;
$colorTextButton: #fff;
$colorBox-1: #FBE9E9;
$colorBox-2: #E7FAF9;
$colorBox-3: #F5ECFD;
$colorBox-4: #E7EFFB;
$colorBox-5: #FDF0E7;
$colorBox-6: #FFF1F0;
$colorBox-7: #F2E9FA; 
$colorBox-8: #E4F7FA;
$colorBox-9: #E4E6FB;
$colorBox-10: #FDE9F4;
$colorBox-11: #E4F9E6;
$colorSquare: #F0F9FE;
$colorText-1: black;
$colorText-2: #0066ff;
$bgColor: #fcf3ec;
$colorText: #7E7FA0;
$colorDesign: #5D69FB;


$fontManrope: 'Manrope', sans-serif;